<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.enzosv.nightshifttoggle</string>
	<key>connections</key>
	<dict>
		<key>DF9D5C63-3CBF-4358-974B-6FF97A1A7A15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A54B1A35-B485-4FBF-A238-EA1C25FCE75F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>enzosv</string>
	<key>description</key>
	<string>Alfred workflow to quickly toggle night shift</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NightShiftToggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>night</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle NightShift</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF9D5C63-3CBF-4358-974B-6FF97A1A7A15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=100
old=$( cat warmth )
if [ $old -gt 0 ]
then
	query=0
else
	query=100
fi
echo $query &gt; warmth
./nshift "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A54B1A35-B485-4FBF-A238-EA1C25FCE75F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A54B1A35-B485-4FBF-A238-EA1C25FCE75F</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>DF9D5C63-3CBF-4358-974B-6FF97A1A7A15</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/enzosv/alfred-nightshift-toggle</string>
</dict>
</plist>
